<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src='../../node_modules/vue/dist/vue.js'></script>
	<link rel="stylesheet" href="./public/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="index.css">
</head>

<body id="body">

	<div id="app">
		<template v-if='!user'>
			<div class="login_box">
				<div class="username">
					<div class="logo">U</div>
					<input type="text" name="name" placeholder="username" maxlength="12">
				</div>
				<button class="submit">Sign in</button>

			</div>
		</template>

		<template v-else>
			<div class="container">
				<div class="users">
					<div class="user">
						<img class="user-avatar" src="image/avatar.jpg" width="50">
						<div class="name">juju</div>
					</div>
					<div class="search-box">
						<i class="fa fa-search"></i>
						<input class="search" placeholder="搜索用户" type="text">


					</div>

					<div class="other-users">
						<div class="other-user" v-for="el in otherUsers" :key="el.name">
							<img class="other-user-icon" :src="el.avatar" width="50">
							<div class="other-username">{{el.username}}</div>
						</div> 

					</div>
				</div>
				<div class="conbar">
					<div class="about"> 与 所有人 聊天中</div>
					<div class="contents">2</div>
					<div class="speak">3</div>
				</div>
			</div>
		</template>
	</div>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				user: 's',
				otherUsers:[
					{username:'ssssssssssss',avatar:'image/avatar.jpg'},
					{username:'sss',avatar:'image/avatar.jpg'},
					{username:'sss',avatar:'image/avatar.jpg'},
				]
			}
		})


	</script>

</body>

</html>