<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src='../../node_modules/vue/dist/vue.js'></script>
	<link rel="stylesheet" href="./public/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="index.css">
</head>

<body id="body">

	<div id="app">
		<template v-if='!user'>
			<div class="login_box">
				<div class="username">
					<div class="logo">U</div>
					<input type="text" name="name" v-model="username" placeholder="username" maxlength="12">
				</div>
				<button class="submit" @click="signIn">Sign in</button>

			</div>
		</template>

		<template v-else>
			<div class="container">
				<div class="users">
					<div class="user">
						<img class="user-avatar" :src="user.avatar" width="50">
						<div class="name">{{user.username}}</div>
					</div>
					<div class="search-box">
						<i class="fa fa-search"></i>
						<input class="search" placeholder="搜索用户" type="text"> 
					</div>

					<div class="other-users">
						<div class="other-user" v-for="item in users" :key="item.name" @click="setTarget(item)">
							<img class="other-user-icon" :src="item.avatar" width="50">
							<div class="other-username">{{item.username}}</div>
						</div>

					</div>
				</div>
				<div class="conbar">
					<div class="about"> 与 {{target}} 聊天中</div>
					<div class="contents" ref='chats-content'>
						<div class="chats" v-for="(el,key) in chats" :key="el.key">
							<div class="speak-time">
								{{getTimeString(el.time)}}
							</div>
							<div v-if="el.username !==user.username" class="other">

								<div class="other-user">
									<img src="image/avatar.jpg" width="50">

								</div>
								<span class="other-arrow"></span>
								<div class="chat-content">
									{{el.content}}
								</div>
							</div>
							<div v-else class="self">

								<div class="self-user">
									<img src="image/avatar.jpg" width="50">
								</div>
								<span class="self-arrow"></span>

								<div class="chat-content">
									{{el.content}}
								</div>
							</div>
						</div>



					</div>
					<div class="speak">
						<div class="tool">
							<button>

								<i class="fa fa-font"> </i>
							</button>

							<button>
								☻
							</button>
						</div>
						<div id="speak-content" ref="speak-content" contenteditable="true" class="speak-content">

						</div>
						<button class="send-speak" @click="sendSpeak">
							发送
						</button>
					</div>
				</div>
			</div>
			<!-- 提示窗口 -->
			<div class="prompt">
				asdasddasd
			</div>
		</template>
	</div>
	<script src="./public/js/socket.js"></script>
	<script>
		// var socket = new Socket("waaaas")

		var oneSeconds = 1000;
		var oneMinutes = oneSeconds * 60;
		var oneHours = oneMinutes * 60;
		var oneDay = oneHours * 24;
		var oneMonth = oneDay * 30;
		var date = new Date("2019-7-1");
		var nowDate = new Date();

		


		var app = new Vue({
			el: '#app',
			data: {
				username: '',
				user: 'd',
				socket: {},
				users: [
					{ username: 'ssssssssssss', avatar: 'image/avatar.jpg' },
					{ username: 'sss', avatar: 'image/avatar.jpg' },
					{ username: 'sss', avatar: 'image/avatar.jpg' },
				],
				chats: [
				 
				],
			},
			methods: {
				signIn() {
					this.socket = new Socket('ws://localhost:3555', this);

					this.socket.ws.onopen = () => {
						this.socket.send('signIn', {
							user: {
								username: this.username
							}
						})
						
					}

				},
				init(data) {
					this.user = data.user;
				},
				getUsers(data){
					this.users=data.users
				},
				sendSpeak() {
					this.socket.send('speak',{
						user:this.user, 
						content:this.$refs['speak-content'].innerText
					})
					// var content = this.$refs['speak-content'].innerText
					// this.chats.push({
					// 	username: 'ssdf',
					// 	content: 'this new content: ' + content,
					// 	time: new Date()
					// })
					// var chatBody = this.$refs['chats-content']


					// console.dir(chatBody.clientHeight)
					// console.dir(chatBody.scrollHeight)
				},
				speak(data){
					this.chats.push({
						username:data.user.username,
						content:data.content,
						time:new Date() 
					})
				},
				getTimeString(date) {
					date = new Date(date);
					var year = date.getFullYear();
					var month = date.getMonth() + 1;
					var day = date.getDate();
					var hours = date.getHours();
					var minutes = date.getMinutes();
					var seconds = date.getSeconds();

					var nowDate = new Date();
					var timeOffset = nowDate - date;
					if (timeOffset > oneMonth) {
						return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`
					}
					if (timeOffset > oneDay) {
						return `${month}-${day} ${hours}:${minutes}:${seconds}`
					}
					if (timeOffset > oneHours) {
						return `${hours}:${minutes}:${seconds}`
					}
					if (timeOffset > oneMinutes) {
						return `${minutes}:${seconds}`
					}
					else {
						return ''
					}

				},
				setTarget(user){ 
					this.$set(this.user,'target',user);
					console.log(this.user);
					this.socket.send('updateState',{
						user:this.user
					})
					 
				}
			},
			computed:{
				target(){
					if(this.user.target!=null){
						return this.user.target.username;
					}else{
						return '所有人'
					}
				}
			},
			watch: {
				chats: function () {
					this.$nextTick(function () {
						var chatsContent = this.$refs['chats-content']
						chatsContent.scrollTop = chatsContent.scrollHeight - chatsContent.clientHeight

					})
				}
			}
		})


	</script>

</body>

</html>